<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkerAPI" value="xxxxx"/>
    <add key="BasicAuthUsername" value="xxxxx"/>
    <add key="BasicAuthPassword" value="xxxxx"/>
  </appSettings>
</configuration>