@{
    ViewBag.Title = "Worker";
}

@section styles{
    <style>
        #console {
            height: 300px;
            background-color: #000;
            white-space: pre;
            overflow: auto;
            font-family: 'Courier New';
            color: #fff;
        }

        @@media (min-width: 992px) {
            .equal {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
            }
        }

        .panel {
            width: 100%;
            height: 100%;
        }

        .compact .form-group {
            margin-bottom: 5px;
        }

        .compact hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .worker-btn {
            width: 120px;
        }
    </style>
}

<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Command Line</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <input type="text" id="command" class="form-control">
            <span class="input-group-btn">
                <button type="button" id="execute" class="btn btn-default">Execute</button>
            </span>
        </div>

        <div id="output">&nbsp;</div>

        <pre id="console"></pre>
    </div>
</div>

<div class="row equal">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tasks</h3>
            </div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="no-email"> No Email (daily and monthly tasks only)
                    </label>
                </div>
                <div style="margin-top: 5px;"><button type="button" id="task-5min" class="btn btn-default btn-sm worker-btn" data-command="RunTask" data-args="5min">Five Minute Task</button></div>
                <div style="margin-top: 5px;"><button type="button" id="task-daily" class="btn btn-default btn-sm worker-btn" data-command="RunTask" data-args="daily {no-email}">Daily Task</button></div>
                <div style="margin-top: 5px;"><button type="button" id="task-daily" class="btn btn-default btn-sm worker-btn" data-command="RunTask" data-args="monthly {no-email}">Monthly Task</button></div>
                <hr />
                <button type="button" class="btn btn-default btn-sm worker-btn" data-command="Poke" data-args="">Poke</button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Billing</h3>
            </div>
            <div class="panel-body compact">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="billing-period">Period</label>
                        <div class="col-sm-5">
                            <input type="text" id="billing-period" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="billing-client-id">ClientID</label>
                        <div class="col-sm-5">
                            <input type="text" id="billing-client-id" class="form-control" />
                        </div>
                    </div>
                </div>

                <hr />

                <label>Billing Categories:</label>
                <label class="checkbox-inline">
                    <input type="checkbox" class="billing-category" value="tool"> Tool
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" class="billing-category" value="room"> Room
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" class="billing-category" value="store"> Store
                </label>

                <div>
                    <button type="button" id="tool-data-clean" class="btn btn-default btn-sm worker-btn" data-command="UpdateBilling" data-args="{billing-period} {billing-client-id} {billing-categories}" data-require="billing-period,billing-categories">Update Billing</button>
                </div>

                <hr />

                <div>
                    <button type="button" id="tool-data-clean" class="btn btn-default btn-sm worker-btn" data-command="UpdateToolDataClean" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Tool Data Clean</button>
                    <button type="button" id="room-data-clean" class="btn btn-default btn-sm worker-btn" data-command="UpdateRoomDataClean" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Room Data Clean</button>
                    <button type="button" id="store-data-clean" class="btn btn-default btn-sm worker-btn" data-command="UpdateStoreDataClean" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Store Data Clean</button>
                </div>

                <div style="margin-top: 5px;">
                    <button type="button" id="tool-data" class="btn btn-default btn-sm worker-btn" data-command="UpdateToolData" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Tool Data</button>
                    <button type="button" id="room-data" class="btn btn-default btn-sm worker-btn" data-command="UpdateRoomData" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Room Data</button>
                    <button type="button" id="store-data" class="btn btn-default btn-sm worker-btn" data-command="UpdateStoreData" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Store Data</button>
                </div>

                <div style="margin-top: 5px;">
                    <button type="button" id="tool-billing" class="btn btn-default btn-sm worker-btn" data-command="UpdateToolBilling" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Tool Billing</button>
                    <button type="button" id="room-billing" class="btn btn-default btn-sm worker-btn" data-command="UpdateRoomBilling" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Room Billing</button>
                    <button type="button" id="store-billing" class="btn btn-default btn-sm worker-btn" data-command="UpdateStoreBilling" data-args="{billing-period} {billing-client-id}" data-require="billing-period">Store Billing</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Interlocks</h3>
            </div>
            <div class="panel-body compact">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="interlock-resource-id">ResourceID</label>
                        <div class="col-sm-5">
                            <input type="text" id="interlock-resource-id" class="form-control" />
                        </div>
                    </div>
                </div>

                <hr />

                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="interlock-state" /> State
                    </label>
                </div>

                <div style="margin-top: 5px;"><button type="button" id="interlock-get-state" class="btn btn-default btn-sm worker-btn" data-command="GetWagoState" data-args="{interlock-resource-id}" data-require="interlock-resource-id">Get State</button></div>
                <div style="margin-top: 5px;"><button type="button" id="interlock-set-state" class="btn btn-default btn-sm worker-btn" data-command="SetWagoState" data-args="{interlock-resource-id} {interlock-state}" data-require="interlock-resource-id">Set State</button></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>

    <script>
        $("#execute").on("click", function (e) {
            if ($("#command").val()) {
                var parts = $("#command").val().split(' ');

                var command = "";
                var args = [];

                if (parts.length > 0)
                    command = parts[0];
                else
                    command = parts;

                if (parts.length > 1)
                    args = parts.slice(1);

                execute(command, args);
            }
        });

        $("[data-command]").on("click", function (e) {
            var command = $(this).data("command");

            var parameters = {
                "no-email": { "label": "No Email", "value": $("#no-email").prop("checked") },
                "billing-period": { "label": "Period", "value": $("#billing-period").val() },
                "billing-client-id": { "label": "ClientID", "value": $("#billing-client-id").val() || 0 },
                "billing-categories": { "label": "Billing Categories", "value": getBillingCategories().join(",") },
                "interlock-resource-id": { "label": "ResourceID", "value": $("#interlock-resource-id").val() || 0 },
                "interlock-state": { "label": "State", "value": $("#interlock-state").prop("checked") }
            };

            var require = [];
            var missing = [];

            if ($(this).data("require"))
                require = $(this).data("require").split(',');

            if (require.length > 0) {
                $.each(require, function (i, val) {
                    if (parameters[val].value === null || parameters[val].value === "")
                        missing.push(val);
                });
            }

            if (missing.length == 0) {
                var args = $(this).data("args")
                    .replace("{no-email}", parameters["no-email"].value)
                    .replace("{billing-period}", parameters["billing-period"].value)
                    .replace("{billing-client-id}", parameters["billing-client-id"].value)
                    .replace("{billing-categories}", parameters["billing-categories"].value)
                    .replace("{interlock-resource-id}", parameters["interlock-resource-id"].value)
                    .replace("{interlock-state}", parameters["interlock-state"].value);

                $("#command").val(command + " " + args);

                execute(command, args.split(' '));
            } else {
                var params = $.map(missing, function (x) { return parameters[x].label }).join(", ");
                $("#output").html(getAlert("Missing parameters: " + params, "danger"))
            }
        });

        function getBillingCategories() {
            return $.map($(".billing-category:checked"), function (val, i) {
                return $(val).val();
            });
        }

        function getAlert(msg, type) {
            return $("<div/>", { "class": "alert alert-" + type, "role": "alert" }).css({ "margin": "10px 0 10px 0" }).html(msg);
        }

        function execute(command, args) {
            $.ajax({
                "url": '@Url.Content("~/api/execute")',
                "method": "POST",
                "data": { "Command": command, "Args": args }
            }).done(function (data, textStatus, jqXHR) {
                $("#output").html(getAlert(data, "success"))
            }).fail(function (jqXHR, textStatus, errorThrown) {
                var err = jqXHR.responseJSON
                    ? jqXHR.responseJSON.ExceptionMessage
                    : "A server error occurred.";
                $("#output").html(getAlert(err, "danger"))
            });
        }

        /****** SignalR **********************************/
        var connected = false;

        var workerHub = $.connection.workerHub;

        workerHub.client.broadcast = function (msg) {
            var $console = $("#console");

            var div = $("<div/>").css("color", msg.Color).html(msg.Text);

            $console.append(div);

            $console.scrollTop($console.prop("scrollHeight"));
        };

        $.connection.hub.start().done(function () {
            connected = true;
        });
        /*************************************************/
    </script>
}
